body {
  //background-image: url("images/image-placeholder-title.jpg");
  //background-repeat: no-repeat;
  //background-position: center;
  //background-size: contain;
  //background-attachment: fixed;
  background-color: white;
  height: 95vh;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 90%;
  flex-direction: row;
}
.container {
  opacity: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
  width: 80%;
  height: 90%;
  background-color: #cffff2;
  flex-wrap: wrap;
}
.question-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 400%;
}
.choice {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.choice{
  background-color: #c5b0ff;
  border: none;
  color: black;
  width: 400px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border: 1px solid black;
}
.choice:hover {
  background-color: #581cff;
  color: white;
}
.h1{
  height: 30px;
}
